.pulse-border {
  border: 8px solid transparent;
  border-radius: 50%;
  animation: pulse 2s infinite;
  background: linear-gradient(to right, #00ffccb3, #ffffff) padding-box,
              linear-gradient(to right, transparent, transparent) border-box;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.01);
      opacity: 0.9;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
